MONGO_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=goauth
JWT_SECRET=your-gin-jwt-secret-key-change-me
PORT=8081
# TEMPLATE_DIR=../shared/templates  (default cho local)
# APP_ENV=development               (default cho local)
